In [2]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
fname = 'C:\\Users\\alessandra.flaccaven\\saved_files\\scraped_articles.json'

In [4]:
with open(fname) as json_data:
    d = json.load(json_data)

In [5]:
for i, site in enumerate((list(d['newspapers'])[:5])):
    print(i, site)

0 newyorktimes_business
1 newyorktimes_science
2 newyorktimes_technology
3 cnnmoney
4 marketwatch_newsletters

In [6]:
# create a dataframe, with all of the articles, one row per article

for i, site in enumerate((list(d['newspapers']))):
    articles = list(d['newspapers'][site]['articles'])
    if i == 0:
        df = pd.DataFrame.from_dict(articles)
    else:
        new_df = pd.DataFrame.from_dict(articles)
        df = pd.concat([df, new_df], ignore_index = True)

In [7]:
df.shape

(466, 5)

In [8]:
df.head()

,link,published,title,text,author
0,https://www.nytimes.com/2020/02/11/business/ch...,2020-02-11T23:39:27,"As Coronavirus Stifles China, Economic Logjams...","In Australia, after hauling hundreds of thousa...",[Matt Phillips]
1,https://www.nytimes.com/2020/02/12/business/de...,2020-02-12T12:22:02,SoftBank Takes Another Multibillion-Dollar Hit...,TOKYO — SoftBank Group has taken another multi...,[Ben Dooley]
2,https://www.nytimes.com/2020/02/12/technology/...,2020-02-12T11:20:39,Britain to Create Regulator for Internet Content,LONDON — Britain on Wednesday introduced a pla...,[Adam Satariano]
3,https://www.nytimes.com/2020/02/11/business/me...,2020-02-11T21:42:23,T-Mobile and Sprint Are Cleared to Merge as th...,"“Today was a huge victory for this merger,” Jo...",[Edmund Lee]
4,https://www.nytimes.com/2020/02/11/business/co...,2020-02-11T23:33:57,Coronavirus Shock Could Push Europe Into a Dow...,"FRANKFURT — So far, only scattered cases of th...",[Jack Ewing]

In [9]:
df.to_pickle('C:\\Users\\alessandra.flaccaven\\saved_files\\dirty_df.pkl')

In [10]:
# list of spam sites
spam = list(d['newspapers'])[-11:]

In [11]:
# create a column for the label of the article, a label of 0 is ham, a label of 1 is spam
df['label'] = 0

In [12]:
for i, site in enumerate(spam):
    df.loc[df['link'].str.contains('{}'.format(site)), 'label'] = 1

In [13]:
# 446 non spam articles, 20 spam articles
df[['title', 'label']].groupby('label').agg('count')

       title
label
0        446
1         20

In [17]:
# python module for cleaning
%run C:\\Users\\alessandra.flaccaven\\modules\\cleaning_helper1.py

In [18]:
df1 = df.copy()

In [19]:
# function imported from python module
df1 = clean_column(df1, 'title', 'clean_title')

In [20]:
df1 = clean_column(df1, 'text', 'clean_text')

In [21]:
# function imported from python module
filtration(df1, 'clean_title')

In [22]:
filtration(df1, 'clean_text')

In [23]:
df1.head()

,link,published,title,text,author,label,clean_title,clean_text
0,https://www.nytimes.com/2020/02/11/business/ch...,2020-02-11T23:39:27,"As Coronavirus Stifles China, Economic Logjams...","In Australia, after hauling hundreds of thousa...",[Matt Phillips],0,coronavirus stifles china economic logjams bui...,australia hauling hundreds thousands tons iron...
1,https://www.nytimes.com/2020/02/12/business/de...,2020-02-12T12:22:02,SoftBank Takes Another Multibillion-Dollar Hit...,TOKYO — SoftBank Group has taken another multi...,[Ben Dooley],0,softbank takes another muibillion dollar hit b...,tokyo softbank group taken another muibillion ...
2,https://www.nytimes.com/2020/02/12/technology/...,2020-02-12T11:20:39,Britain to Create Regulator for Internet Content,LONDON — Britain on Wednesday introduced a pla...,[Adam Satariano],0,britain create regulator internet content,london britain wednesday introduced plan would...
3,https://www.nytimes.com/2020/02/11/business/me...,2020-02-11T21:42:23,T-Mobile and Sprint Are Cleared to Merge as th...,"“Today was a huge victory for this merger,” Jo...",[Edmund Lee],0,t mobile sprint cleared merge big get bigger,"""today huge victory merger"" john legere chief ..."
4,https://www.nytimes.com/2020/02/11/business/co...,2020-02-11T23:33:57,Coronavirus Shock Could Push Europe Into a Dow...,"FRANKFURT — So far, only scattered cases of th...",[Jack Ewing],0,coronavirus shock could push europe downturn,frankfurt far scattered cases coronavirus appe...

In [24]:
df1.to_pickle('C:\\Users\\alessandra.flaccaven\\saved_files\\cleaned_df.pkl')